Django>=4.2,<5.0
djangorestframework
psycopg2-binary
dj-database-url
gunicorn
whitenoise
djangorestframework-simplejwt
django-cors-headers
scikit-learn
joblib
pandas
numpy
reportlab
Pillow
pytest
pytest-django
celery[redis]